@import url('./styles/tokens/_colors.css');
@import url('./styles/tokens/_fonts.css');

html,
body {
	background-color: var(--color-background-page-lightest);
	color: var(--color-text-body-default);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,
		system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 100%;
	line-height: var(--font-line-height-body-m);
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*,
*:after,
*:before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.columnContainerCentered {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.rowContainerCentered {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.navButton {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.mb-1 {
	margin-bottom: 10px;
}

.mr-1 {
	margin-right: 10px;
}

.mt-2 {
	margin-top: 15px;
}

.mb-2 {
	margin-bottom: 15px;
}

.mt-3 {
	margin-top: 25px;
}

.mb-3 {
	margin-bottom: 25px;
}
